<app-nav></app-nav>

<header class="bg_animate">
  <section class="banner contenedor">
      <section class="banner_title">
          <h2>Bienvenido <br> a  Claro </h2>
      </section>
  </section>

  <div class="burbujas">
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
  </div>
</header>
